<nav>
  <div class="site-title">
    <h1>Blogger Blogs</h1>
    <p>A new blogging platform</p>
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blogs/create">Create A blog</a>
    </li>
  </ul>
</nav>
